<%= form_with(model: course, url: course.persisted? ? manage_course_path(course) : manage_courses_path, method: course.persisted? ? :patch : :post) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :thumbnail_path %>
    <%= f.text_field :thumbnail_path %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, [['Published', 'published'], ['Draft', 'draft']] %>
  </div>

  <div class="field">
    <%= f.label :user_id, "Instructor" %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
