<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Elearning" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag :app %>
  <%= vite_stylesheet_tag "application.css" %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
</head>

<body class="min-h-screen bg-gray-50 dark:bg-gray-900 dark:text-white">
  <%= render 'shared/header' %>
  <%= render 'shared/audio_player' %>
  <% auth_pages = controller_name.start_with?('sessions', 'registrations', 'passwords', 'confirmations', 'unlocks') %>
  <% render_layout_elements = !auth_pages %>
  <% if render_layout_elements %>
  <main class="pt-24 pb-12 md:pt-28 px-4">
    <%= render 'shared/lazy_loading' %>
    <%= yield %>
  </main>
  <% else %>
  <main>
    <%= yield %>
  </main>
  <% end %>

  <%= render "shared/flash" %>

  <% if render_layout_elements %>
  <%= render "shared/footer" %>
  <% end %>
</body>

</html>
